.App {
  text-align: center;
}

.App-header {
  position: absolute;
  width: 1440px;
  height: 80px;
  left: 0px;
  top: 0px;
}

#Group {
  position: absolute;
  left: 5.21%;
  right: 80.31%;
  top: 27.87%;
  bottom: 29.45%;
}

#Group13 {
  position: absolute;
  left: 36.32%;
  right: 36.32%;
  top: 22.5%;
  bottom: 22.5%;
}

#Group12 {
  position: absolute;
  left: 83.54%;
  right: 8.12%;
  top: 22.5%;
  bottom: 22.5%;
}

#Group42{
  position: absolute;
  width: 78px;
  height: 19px;
  left: 1099px;
  top: 30px;
}

#Group41{
  position: absolute;
  width: 55px;
  height: 19px;
  left: 1021px;
  top: 30px;
}

#Group75{
  position: absolute;
  width: 15px;
  height: 18.33px;
  left: 1349px;
  top: 31.22px;
}





